{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated and user.username != user_profile.username %}
        <button class="follow" id="{{ user_profile.id }}">{{ message }}</button>
    {% endif %}


 <h3>{{ user_profile.username }}</h3>
<div>
    <p><strong>Followers:</strong> <span id="followers{{ user_profile.id }}"> {{ followers }}</span></p>
    <p><strong>Following:</strong> {{ following }}</p>
</div>
    {% for post in page_obj %}
        <div class="post">
            <p>{{ post.content }}</p>
            <p>{{ post.timestamp }}</p>
            <p><strong>Likes: </strong><span id="like{{post.id}}">{{ post.likes }}</span></p>
        

            {% if user.is_authenticated %}
                {% if user in post.liked_by.all %}
                    <button class="like" id="post{{ post.id }}">Unlike</button>
                {% else %}
                    <button class="like" id="post{{ post.id }}">Like</button>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; return to first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">go to last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}